@model CareConnect.Models.TrackingGenerateViewModel
<style>
    .status-label {
        display: inline-block;
        width: 30px; /* Adjust the width as needed */
        height: 15px; /* Adjust the height as needed */
        margin-right: 5px; /* Add some spacing between labels */
        border: 1px solid #000; /* Add a border for better visibility */
    }
</style>

<!-- Your HTML structure -->
<div id="pdfContainer">
    <!-- This div will hold the PDF content -->
</div>
<div class="card">

    <div class="card-header" style="background-color: #0565B7;color:white">
        <h3 class="card-title">Claim Detail</h3>

    </div>
    <div class="card-body">
        <div>
            <span class="status-label" style="background-color: Coral;"></span> Initiate
            <span class="status-label" style="background-color: LightSalmon;"></span> In Process
            <span class="status-label" style="background-color: #CD6155;"></span> Decline   @* Red *@
            <span class="status-label" style="background-color: #F8C471;"></span> Approved By RMS   @* light Orange *@
            <span class="status-label" style="background-color: #E67E22;"></span> Decline By RMS    @* Dark Orange *@
            <span class="status-label" style="background-color: #AED6F1;"></span> Proceed By HOO    @* Light Blue *@
        </div>
        <br />
        <div>
            <span class="status-label" style="background-color: #5DADE2;"></span> Proceed By HCX    @* Dark Blue *@
            <span class="status-label" style="background-color: #D7BDE2;"></span> Decline By HOO    @* Light Purple *@
            <span class="status-label" style="background-color: #AF7AC5;"></span> Decline By HCX    @* Dark Purple *@
            <span class="status-label" style="background-color: #F7DC6F;"></span> Under Investigation    @* Light yellow *@
            <span class="status-label" style="background-color: #F1C40F;"></span> Proceed by RMO    @* Dark Yellow *@
            <span class="status-label" style="background-color: lightgreen;"></span> Approved
        </div>
        <br />
        @if (Model.SearchClaimDetail != null && Model.SearchClaimDetail.Tables.Count > 0 && Model.SearchClaimDetail.Tables[0].Rows.Count > 0)
        {
            <table id="bookingstatusTable" width="100%" class="display">
                <thead>
                    <tr>
                        @foreach (System.Data.DataColumn column in Model.SearchClaimDetail.Tables[0].Columns)
                        {
                            <th>@column.ColumnName</th>

                        }
                        <th>Claim Form</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in Model.SearchClaimDetail.Tables[0].Rows)
                    {
                        var statusID = row["Claim_Status_Id"].ToString().Trim();
                        var bgColor = "";

                        if (statusID == "1")
                        {
                            bgColor = "Coral";
                        }

                        if (statusID == "2")
                        {
                            bgColor = "	LightSalmon";
                        }

                        if (statusID == "3")
                        {
                            bgColor = "#CD6155";//Red
                        }

                        if (statusID == "4")
                        {
                            bgColor = "#F8C471";//light Orange
                        }

                        if (statusID == "5")
                        {
                            bgColor = "#E67E22 ";//Dark Orange
                        }

                        if (statusID == "6")
                        {
                            bgColor = "#AED6F1  ";//Light Blue
                        }

                        if (statusID == "7")
                        {
                            bgColor = "#5DADE2 ";//Dark Blue
                        }

                        if (statusID == "8")
                        {
                            bgColor = "#D7BDE2 ";//Light Purple
                        }

                        if (statusID == "9")
                        {
                            bgColor = "#AF7AC5 ";//Dark Purple
                        }

                        if (statusID == "10")
                        {
                            bgColor = "#F7DC6F";//Light yellow
                        }

                        if (statusID == "11")
                        {
                            bgColor = "#F1C40F";//Dark Yellow
                        }

                        if (statusID == "12")
                        {
                            bgColor = "lightgreen";
                        }

                        <tr style="background-color: @bgColor;">
                            @foreach (var item in row.ItemArray)
                            {
                                <td>
                                    @if (row.Table.Columns.IndexOf("ClaimID") == Array.IndexOf(row.ItemArray, item))
                                    {
                                        <a class="ticketLink" href="/Home/GetClaimDetailsbyClaimid?ticketno=@item.ToString()" target="_blank">@item.ToString()</a>

                                    }
                                    else
                                    {
                                        @item.ToString()
                                    }
                                </td>
                            }
                            <td>
                                @*    <a class="ticketLink" href="/Home/GetClaimDetailsbyClaimid?ticketno=" target="_blank">claimform</a> *@


                                <a href="@Url.Action("Report", "Home")" class="report-link" data-id="@row["ClaimID"]">Claim Form Download</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Records Found.</p>
        }
    </div>
</div>
<br />


<!-- Your JavaScript code -->
<script>
    $('.report-link').click(function (e) {
        debugger
        e.preventDefault(); // Prevent the default behavior of the link

        // Get the ID from the data-id attribute
        var reportId = $(this).data('id');

        // Make an AJAX request to the Print action with the ID parameter
        $.ajax({
            url: '/Home/Report',
            type: 'GET',
            data: { id: reportId },
            success: function (result) {
                // Create a unique identifier for the iframe
                var iframeId = 'pdfViewer_' + Date.now();

                // Append an iframe to the pdfContainer div
                $('#pdfContainer').empty(); // Clear previous content if any
                $('#pdfContainer').append('<iframe id="' + iframeId + '" width="100%" height="900px"></iframe>');

                // Set the PDF content as the source of the iframe
                $('#' + iframeId).attr('src', 'data:application/pdf;base64,' + result);
            },
            error: function (error) {
                console.error(error);
            }
        });
    });
</script>

<script>
    $(document).ready(function () {

        $('#bookingstatusTable').DataTable({
            scrollX: '400px',
            scrollY: '400px', // Specify the desired height of the scrollable area
            scrollCollapse: true,
            language: {
                paginate: {
                    first: 'First',
                    previous: 'Previous',
                    next: 'Next',
                    last: 'Last'
                }
            }

        });
    });
            //$(document).on('click', '.detailButton', function () {
            //    debugger
            //    var ticketId = $(this).data('ticketid');
            //    var url = '/Home/GetTicketDetails?ticketno=' + ticketId;

            //    window.open(url, '_blank');

            //});
</script>







