@model CareConnect.Models.TrackingGenerateViewModel
@Html.ValidationSummary(true)

<head>

    <style>
        .overlayclaim {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
            z-index: 1000; /* Set a high z-index to ensure the overlay appears on top of other elements */
            display: none; /* Initially hide the overlay */
        }

        #loaderclaim {
            border: 4px solid #3498db; /* Blue */
            border-radius: 50%;
            border-top: 4px solid transparent; /* Transparent border on top to create the spinner effect */
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
            margin: auto;
            margin-top: 20px;
            display: none; /* Initially hide the loader */
        }

        /* Add a class to make the overlay visible */
        .overlayclaim.visible {
            display: block;
        }

    </style>
</head>

<div class="card">
    <div class="card-header" style="background-color: #0565B7;color:white">
        <h3 class="card-title">Booking Detail</h3>
    </div>
    <div class="card-body">
        <!-- Loop through the rows of the first dataset -->
        @foreach (System.Data.DataRow row in Model.BookingDetail.Tables[0].Rows)
        {
            <div class="row">
                @foreach (System.Data.DataColumn column in Model.BookingDetail.Tables[0].Columns)
                {
                    if (Model.BookingDetail.Tables[0].Columns.Contains(column.ColumnName))
                    {
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label class="control-label">@column.ColumnName:</label>

                                <input type="text" disabled class="form-control" value="@row[column.ColumnName]" id="@column.ColumnName" />

                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>

<!-- Add an overlay element -->
<div id="overlayclaim" class="overlayclaim"></div>

<!-- Loader element -->
<div id="loaderclaim" class="loaderclaim"></div>

<div class="card">
    <div class="card-header" style="background-color: #0565B7;color:white">
        <h3 class="card-title">Create Claim</h3>
    </div>
    <div class="card-body">
        <!-- Render the dropdown list with TicketCatType data -->

        <div class="row">


            <div class="col-md-3 col-sm-3">
                <label >Claim Category:</label>
                <select class="form-control" id="categoryDropdown" name="ticketcatagory">
                    <option value="">Select Category</option>
                    @foreach (System.Data.DataRow catRow in Model.ClaimCategoryDS.Tables[5].Rows)
                    {

                        <option value="@catRow["claimcategoryid"]">@catRow["categoryname"]</option>

                    }
                </select>

                <span class="text-danger" id="categoryDropdownError" style="display: none;">Please select Claim Category.</span>
            </div>

            <div class="col-md-3 col-sm-3">

                <div id="subcategoryContainer">
                </div>
                <span class="text-danger" id="subcategoryDropdownError" style="display: none;">Please select Sub Category.</span>
            </div>

         
            <div class="col-md-2 col-sm-2 divhide">
                <label >Claim Priority:</label>
                <select class="form-control" id="PriorityDropdown" name="priority ">
                    <option value="">Select Priority</option>
                    @foreach (System.Data.DataRow catRow in Model.PriorityDS.Tables[2].Rows)
                    {
                        <option value="@catRow["priority_id"]">@catRow["priority_type"]</option>
                    }
                </select>
                <span class="text-danger" id="priorityError" style="display: none;">Please select priority.</span>
            </div>

            <div class="col-md-2 col-sm-2">
                <label >Negotiated Amount:</label>
                <input type="text" id="NegotiatedAmount" placeholder="Please Enter Amount" class="form-control" />
                <span class="text-danger" id="priorityError" style="display: none;">Please Enter Amount.</span>
            </div>
            <div class="col-md-2 col-sm-2">
                <label>Claim Amount:</label>
                <input type="text" id="ClaimAmountNew" placeholder="Please Enter Claim Amount" class="form-control" />
                <span class="text-danger" id="priorityError" style="display: none;">Enter Claim Amount.</span>
            </div>

        </div>


        <div class="row divhide">

        @*     <div class="col-md-2 col-sm-2">

                <label >City:</label>
                <select class="form-control" id="CityDropdown" name="city ">
                    <option value="">Select City</option>
                    @foreach (System.Data.DataRow catRow in Model.CityDS.Tables[3].Rows)
                    {
                        <option value="@catRow["city_id"]">@catRow["city_name"]</option>
                    }
                </select>
                <span class="text-danger" id="cityError" style="display: none;">Please select City.</span>
            </div>

            <div class="col-md-4 col-sm-4">

                <div id="regionContainer">
                </div>
                <span class="text-danger" id="emailerror" style="display: none;">Please select User Email.</span>
                <span class="text-danger" id="locationError" style="display: none;">Please select Location.</span>
            </div> *@
            <div class="col-md-2 col-sm-2">

                <div class="form-group">
                    <label class="control-label">Tracking NO:</label>
                    <input type="text" disabled class="form-control" value="@ViewData["TrackingNumber"]" />
                    <span class="text-danger" id="trackingError" style="display: none;">Tracking No Empty.</span>
                </div>

            </div>


            <div class="col-md-2 col-sm-2">
                <label >BarCode:</label>
                <select class="form-control" id="BarcodeDropdown" name="barcode" required>
                    <option value="">ALL</option>
                    @foreach (System.Data.DataRow catRow in Model.BookingDetail.Tables[6].Rows)
                    {
                        <option value="@catRow["BarCode"]">@catRow["BarCode"]</option>
                    }
                </select>
                <span class="text-danger" id="barcodeError" style="display: none;">Please select a barcode.</span>
            </div>

            <div class="col-md-2 col-sm-2">

                <div id="categorycontainer">
                </div>
                <span class="text-danger" id="barcodcateerror" style="display: none;">Please select Category.</span>
            </div>

        </div>


        <div class="row divhide">
            <div class="col-md-4">
                <div class="radio-group">
                    <label>
                        <input type="radio" name="rdotype" checked value="sender">
                        <span></span>Sender
                    </label>

                    @*      <label>
                    <input type="radio" name="rdotype" value="receiver">
                    <span></span>Receiver
                    </label>
                    *@

                    <label>
                        <input type="radio" name="rdotype" value="none">
                        <span></span>None
                    </label>
                </div>
            </div>

            <div class="col-md-6">
                <div radio-group>

                    <label>
                        <input type="checkbox" id="chksendsms" checked name="SMS" />
                        <span></span>Send SMS
                    </label>

                </div>
            </div>

        </div>





        <div class="row">
            <div class="col-md-3 col-sm-3 divhide">
                <div class="form-group">
                    <label >Name:</label>
                    <input type="text" id="txtname" name="name" value="@Model.BookingDetail.Tables[2].Rows[0]["Person:"]" class="form-control" placeholder="Name">
                    <span class="text-danger" id="nameError" style="display: none;">Please type name.</span>
                </div>

            </div>
            <div class="col-md-3 col-sm-3 divhide">
                <div class="form-group">
                    <label >Contact NO:</label>
                    <input type="text" id="txtcontactno" name="contact" value="@Model.BookingDetail.Tables[2].Rows[0]["Ph.No:"]" class="form-control" placeholder="Contact No">
                    <span class="text-danger" id="contactError" style="display: none;">Please type contact.</span>
                    <span class="text-danger" id="contactErrorvalidation" style="display: none;">Contact number is invalid. Please enter a 11-digit number like (XXXX-XXXXXXX).</span>

                </div>

            </div>

            <div class="col-md-3 col-sm-3 divhide">
                <label >Gender:</label>
                <select name="Gender" id="ddgender" class="form-control">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>


            </div>
            <div class="col-md-3 col-sm-3 ">
                <div class="form-group">
                    <label >Remarks:</label>

                    <input type="text" id="txtremarks" name="Remarks" class="form-control" placeholder="Enter Remarks">
                    <span class="text-danger" id="RemarksError" style="display: none;">Please Enter Remarks.</span>
                </div>
            </div>


        </div>



        @*        // ***********       upload images     ***********       *@
        <div class="row">

            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <label >Upload Images:</label>
                    <input type="file" id="imageUpload" name="Images" class="form-control" multiple>
                    <!-- Use 'multiple' attribute to allow selecting multiple images -->
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <label >Content:</label>
                    <input type="text" id="txtcontent" placeholder="Enter Content" name="content" class="form-control">
                    <!-- Use 'multiple' attribute to allow selecting multiple images -->
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12 col-sm-12">
                <button class="btn btn-success float-Right" id="btnCreateTicket">Create Claim</button>

            </div>
        </div>

    </div>

</div>


<script>
    $(document).ready(function () {
        debugger
        // Event listener for category selection
        $('#categoryDropdown').change(function () {
            var selectedCategory = $(this).val();

            // Clear the subcategory container
            $('#subcategoryContainer').html('');


            if (selectedCategory == '6') {
                $('.divhide').hide();


                // Clear the selected value of the dropdown

            } else {
                // Show the div and dropdown for other values
                $('.divhide').show();

            }

            debugger
            // Make AJAX call to fetch subcategories based on the selected category
            $.ajax({
                url: '/Home/GetSubcategoriesClaim',
                type: 'POST',
                data: { category: selectedCategory },
                success: function (result) {
                    // Render the subcategory dropdown
                    $('#subcategoryContainer').html(result);
                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'Please Select Valid Category: ' + error, 'error');
                }
            });
        });

        $('#CityDropdown').change(function () {
            debugger
            var selectedCity = $(this).val();

            // Clear the subcategory container
            $('#regionContainer').html('');
            // Clear the subterminal container

            debugger

            // Make AJAX call to fetch subcategories based on the selected category
            $.ajax({
                url: '/Home/GetRegion',
                type: 'POST',
                data: { CityID: selectedCity },
                success: function (result) {
                    debugger
                    // Render the subcategory dropdown
                    $('#regionContainer').html(result);
                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'Please Select Valid Category: ' + error, 'error');
                }
            });
        });


        $('#BarcodeDropdown').change(function () {
            debugger
            var selectedBarcode = $(this).val();

            if (selectedBarcode == "") {
                $('#categorycontainer').html('');
                return;
            }

            // Clear the subcategory container
            $('#categorycontainer').html('');

            debugger

            // Make AJAX call to fetch subcategories based on the selected category
            $.ajax({
                url: '/Home/GetCategory',
                type: 'POST',
                data: { Barcode: selectedBarcode },
                success: function (result) {
                    debugger
                    // Render the subcategory dropdown
                    $('#categorycontainer').html(result);
                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'Please Select Valid Category: ' + error, 'error');
                }
            });
        });


    });
</script>

<script>
    $(document).ready(function () {
        // Set initial values based on the checked radio button
        updateTextboxValues();

        // Handle change event of radio buttons
        $('input[name="rdotype"]').change(function () {
            updateTextboxValues();
        });

        function updateTextboxValues() {
            var selectedValue = $('input[name="rdotype"]:checked').val();
            if (selectedValue === "sender") {
                $('#txtname').val("@Model.BookingDetail.Tables[2].Rows[0]["Person:"]");
                $('#txtcontactno').val("@Model.BookingDetail.Tables[2].Rows[0]["Ph.No:"]");
            } else if (selectedValue === "receiver") {
                $('#txtname').val("@Model.BookingDetail.Tables[3].Rows[0]["Name:"]");
                $('#txtcontactno').val("@Model.BookingDetail.Tables[3].Rows[0]["Ph.No:"]");
            } else {
                $('#txtname').val("");
                $('#txtcontactno').val("");
            }
        }
    });
</script>

<script>
    $(document).ready(function () {
        $('#btnCreateTicket').click(function () {
            debugger

            var Gender = $('#ddgender').val();
            var ClaimAmountNew = $('#ClaimAmountNew').val();
            var content = $('#txtcontent').val();
            var barcodeValue = $('#BarcodeDropdown').val();
            // var tickettypeValue = $('#TicketTypeDropdown').val();
            var categoryValue = $('#categoryDropdown').val();
            var ticketsubcatagory = $('#subcategoryContainer').find('#SubcategoryDropdown').val();
            var ticketsubcatagoryName = $('#subcategoryContainer').find('#SubcategoryDropdown option:selected').text();
            var barcodecategoryname = $('#categorycontainer').find('#CategoryDropdown option:selected').text();
            var RemarksValue = $('#txtremarks').val();
            //var TicketDescription = $('#txtremarks').val();
            var TicketPriority = $('#PriorityDropdown').val();
            var TicketPriorityName = $('#PriorityDropdown option:selected').text();
            //var City = $('#CityDropdown').val();
          //  var locationid = $('#regionContainer').find('#LocationDropdown').val();

           /// var locationname = $('#regionContainer').find('#LocationDropdown option:selected').text();
           // var region = $('#regionContainer').find('#RegionDropdown').val();

           // var UserEmail = $('#regionContainer').find('#useremail option:selected').text();
            var TrackingNO = @ViewData["TrackingNumber"];

            var sender = @Html.Raw(Json.Serialize(Model.BookingDetail.Tables[2].Rows[0]["Person:"]));
            var sendercompany = @Html.Raw(Json.Serialize(Model.BookingDetail.Tables[2].Rows[0]["Person:"]));
            var senderref = @Html.Raw(Json.Serialize(Model.BookingDetail.Tables[2].Rows[0]["Person:"]));
            var senderphone = @Html.Raw(Json.Serialize(Model.BookingDetail.Tables[2].Rows[0]["Ph.No:"]));
            var senderaddress = @Html.Raw(Json.Serialize(Model.BookingDetail.Tables[2].Rows[0]["Address:"]));
            var receiver = @Html.Raw(Json.Serialize(Model.BookingDetail.Tables[3].Rows[0]["Name:"]));
            var receivercompany = @Html.Raw(Json.Serialize(Model.BookingDetail.Tables[3].Rows[0]["Name:"]));
            var receiverphone = @Html.Raw(Json.Serialize(Model.BookingDetail.Tables[3].Rows[0]["Ph.No:"]));
            var receiveraddress = @Html.Raw(Json.Serialize(Model.BookingDetail.Tables[3].Rows[0]["Address:"]));

            var name = $('#txtname').val();
            var contact = $('#txtcontactno').val();
            var dropdown = document.getElementById("categoryDropdown");
            var selectedOption = dropdown.options[dropdown.selectedIndex];
            var TicketCategoryName = selectedOption.text;
            debugger
            var imagefile = $('#imageUpload').val();

            var pattern = /^92\d{10}$/;
            debugger
            if (categoryValue == '6') {

                if (categoryValue === '') {
                    $('#categoryDropdownError').show();
                    return false; // Prevent form submission if barcode is not selected
                } else {
                    $('#categoryDropdownError').hide();
                }

                if (ticketsubcatagory === '0') {
                    $('#subcategoryDropdownError').show();
                    return false; // Prevent form submission if barcode is not selected
                } else {
                    $('#subcategoryDropdownError').hide();
                }
                var Gender = undefined;
                var barcode = undefined;
                var tickettypeValue = undefined;

                var barcodecategoryname = '';

                var TicketPriority = undefined;


               // var City = undefined;
               // var region = '';

              //  var UserEmail = '';

                var name = '';
                var contact = '';
                var RemarksValue = $('#txtremarks').val();
            }
            else {

                // var tickettypeValue = $('#TicketTypeDropdown').val();
                var Gender = $('#ddgender').val();



                if (categoryValue === '') {
                    $('#categoryDropdownError').show();
                    return false; // Prevent form submission if barcode is not selected
                } else {
                    $('#categoryDropdownError').hide();
                }

                if (ticketsubcatagory === '0') {
                    $('#subcategoryDropdownError').show();
                    return false; // Prevent form submission if barcode is not selected
                } else {
                    $('#subcategoryDropdownError').hide();
                }




                if (TicketPriority === '') {
                    $('#priorityError').show();
                    return false; // Prevent form submission if barcode is not selected
                } else {
                    $('#priorityError').hide();
                }
                // if (locationname === '') {
                //     $('#locationError').show();
                //     return false; // Prevent form submission if barcode is not selected
                // } else {
                //     $('#locationError').hide();
                // }


                // if (locationid === '0') {
                //     $('#locationError').show();
                //     return false; // Prevent form submission if barcode is not selected
                // } else {
                //     $('#locationError').hide();
                // }



                // if (City === '') {
                //     $('#cityError').show();
                //     return false; // Prevent form submission if barcode is not selected
                // } else {
                //     $('#cityError').hide();
                // }
                // if (UserEmail === '') {
                //     $('#emailerror').show();
                //     return false; // Prevent form submission if barcode is not selected
                // } else {
                //     $('#emailerror').hide();
                // }
                if (name === '') {
                    $('#nameError').show();
                    return false; // Prevent form submission if barcode is not selected
                } else {
                    $('#nameError').hide();
                }
                if (contact === '') {
                    $('#contactError').show();
                    return false; // Prevent form submission if barcode is not selected
                } else {

                    contact = "92" + contact.replace(/-/g, "").replace(/^0+/, "");

                    var pattern = /^92\d{10}$/;
                    if (pattern.test(contact)) {
                        // Valid contact number
                        console.log('Contact number is valid.');
                        $('#contactErrorvalidation').hide();
                    } else {
                        // Invalid contact number
                        console.log('Contact number is invalid. Please enter a 12-digit number starting with 92.');
                        $('#contactErrorvalidation').show();
                        return false;
                    }
                    $('#contactError').hide();
                }

            }


            if (RemarksValue === '') {
                $('#RemarksError').show();
                return false; // Prevent form submission if barcode is not selected
            } else {
                $('#RemarksError').hide();
            }
            const checkbox = document.getElementById("chksendsms");

            // Get the value (true or false) from the checkbox
            const isChecked = checkbox.checked;
            debugger
            var formData = new FormData();
            var ticketData = {
                // your ticket data properties...
                barcode: barcodeValue,
                ticketsubcatagory: $('#subcategoryContainer').find('#SubcategoryDropdown').val(),
                ticketsubcatagoryName: ticketsubcatagoryName,
                barcodecategoryname: barcodecategoryname,
                name: name,
                contact: contact,
                Gender: Gender,
                issendsms: isChecked,
                priority: TicketPriority,
                TicketPriorityName: TicketPriorityName,
               // city: City,
               // locationname: locationname,
               // region: region,
                //UserEmail: UserEmail,
                cgnno: @ViewData["TrackingNumber"],
                Product: $('#Product').val(),
                accountno: $('#Product').val(),
                agent: $('#Product').val(),
                agentref: $('#Product').val(),
                BookingDate: $('#Booking_Date').val(),
                sender: sender,
                sendercompany: sendercompany,
                senderref: senderref,
                senderphone: senderphone,
                senderaddress: senderaddress,
                Origin: $('#Origin').val(),
                Origin_Desc: $('#Origin_Desc').val(),
                receiver: receiver,
                receivercompany: receivercompany,
                receiverphone: receiverphone,
                receiveraddress: receiveraddress,
                Destination: $('#Destination').val(),
                Destination_Desc: $('#Destination_Desc').val(),
                Payment_Mode: $('#Payment_Mode').val(),
                Weight: $('#Weight').val(),
                pieces: $('#Pieces').val(),
                Quantity: $('#Quantity').val(),
                CNValue: $('#CNValue').val(),
                InsuranceRate: $('#InsuranceRate').val(),
                InsuranceAmount: $('#InsuranceAmount').val(),
                ClaimAmount: $('#Amount').val(),
                ClaimAmountNew: $('#ClaimAmountNew').val(),
                NegotiatedAmount: $('#NegotiatedAmount').val(),
                ticketcatagory: $('#categoryDropdown').val(),
                ticketcatagoryName: TicketCategoryName,
                Remarks: RemarksValue,
                content: content,
            };

            // Iterate over the properties of ticketData
            for (var key in ticketData) {
                if (ticketData.hasOwnProperty(key)) {
                    // Append each key-value pair to the FormData
                    formData.append(key, ticketData[key]);
                }
            }

            // Now you can append the files
            var files = $("#imageUpload")[0].files;
            for (var i = 0; i < files.length; i++) {
                formData.append("Images", files[i]);
            }


            $('#overlayclaim').addClass('visible');
            $('#loaderclaim').show();
            debugger
            $.ajax({ 
                url: '/Home/CreateClaim',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger
                    $('#overlayclaim').removeClass('visible');
                    $('#loaderclaim').hide();
                    // Check if the ticket was created successfully
                    if (response.success) {
                        // Show a success message using SweetAlert
                        Swal.fire('Success', response.message, 'success');
                        var ClaimNO = response.data;
                        // var ticketno = @ViewData["TicketNo"];
                        // var ticketno = $('#tracking').val();
                        // Construct the URL with the tracking number as a query parameter
                        var url = '/Home/GetClaimDetailsbyClaimid?ticketno=' + ClaimNO;
                        // Redirect to the new URL same tab
                        window.location.href = url;
                        // Open the new view in a new window/tab
                        //window.open(url, '_blank');
                        $('#TicketTypeDropdown').val(''),
                            $('#categoryDropdown').val(''),
                            $('#PriorityDropdown').val(''),
                           // $('#CityDropdown').val(''),
                            $('#BarcodeDropdown').val(''),
                            $('#ddgender').val(''),

                            $('#chksendsms').val(''),
                            $('#txtname').val(''),
                            $('#txtcontactno').val(''),
                            $('#txtremarks').val('')
                    }
                    else {
                        // Show an error message using SweetAlert
                        Swal.fire('Error', response.message, 'error');
                    }
                },
                error: function (xhr, status, error) {
                    $('#overlayclaim').removeClass('visible');
                    $('#loaderclaim').hide();
                    // Show an error message using SweetAlert
                    Swal.fire('Error', 'Error creating ticket: ' + error, 'error');
                }
            });
        });
    });
</script>




